:root {
  --syntax-default: var(--color-syntax-default);
  --syntax-comment: var(--color-syntax-comment);
  --syntax-variable: var(--color-syntax-variable);
  --syntax-number: var(--color-syntax-number);
  --syntax-type: var(--color-syntax-type);
  --syntax-keyword: var(--color-syntax-keyword);
  --syntax-string: var(--color-syntax-string);
  --syntax-function: var(--color-syntax-function);
  --syntax-operator: var(--color-syntax-operator);
  --syntax-punctuation: var(--color-syntax-punctuation);
  --syntax-tag: var(--color-syntax-tag);
  --syntax-attribute: var(--color-syntax-attribute);
  --syntax-selector: var(--color-syntax-selector);
  --syntax-property: var(--color-syntax-property);
  --syntax-bracket: var(--color-syntax-bracket);
  --syntax-class: var(--color-syntax-class);
  --syntax-constant: var(--color-syntax-constant);
  --syntax-decorator: var(--color-syntax-decorator);
  --syntax-regex: var(--color-syntax-regex);
  --syntax-escape: var(--color-syntax-escape);
}
